{
  //解决ES6和CommonJS模块导出不能互用问题
  "sourceType": "unambiguous",
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": "auto",
        //"targets": "> 0.25%, not dead"
        "targets": {
          "chrome": "58",
          "ie": "11"
        },
        "useBuiltIns": "entry",
        "corejs": 3
      }
    ],
    "@babel/preset-typescript",
    "@babel/preset-flow"
  ],
  "plugins": [
    "transform-vue-jsx",
    "@babel/plugin-syntax-jsx",
    "dynamic-import-webpack",
    [
      "@babel/plugin-proposal-decorators",
      {
        "legacy": true
      }
    ],
    [
      "@babel/plugin-proposal-class-properties",
      {
        "loose": true
      }
    ],
    [
      "@babel/plugin-proposal-private-methods",
      {
        "loose": true
      }
    ],
    [
      "@babel/plugin-proposal-private-property-in-object",
      {
        "loose": true
      }
    ],
    [
      "import",
      {
        "libraryName": "ant-design-vue",
        "libraryDirectory": "es",
        "style": "css"
      }
    ],
    [
      "@babel/plugin-transform-runtime",
      {
        "absoluteRuntime": false,
        "corejs": 3,
        "helpers": true,
        "regenerator": true
      }
    ]
  ]
}